In [29]:
import pandas as pd
from glob import glob
from snakemake.io import glob_wildcards
from os import path

## Pandas Iterators: Writing For-Loops for DataFrames

In [99]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/geyser.csv')
df

     duration  waiting   kind
0       3.600       79   long
1       1.800       54  short
2       3.333       74   long
3       2.283       62  short
4       4.533       85   long
..        ...      ...    ...
267     4.117       81   long
268     2.150       46  short
269     4.417       90   long
270     1.817       46  short
271     4.467       74   long

[272 rows x 3 columns]

In [8]:
for kind, group in df.groupby('kind'):
    group.to_csv(f'guysers_{kind}.ignore.csv')

In [33]:
glob('guysers_*.ignore.csv', )

['guysers_short.ignore.csv', 'guysers_long.ignore.csv']

In [34]:
search = 'guysers_{kind}.ignore.csv'
kinds, = glob_wildcards(search, )
files = [search.format(kind=kind) for kind in kinds]
pd.DataFrame({'kind': kind, 'file': files})

    kind                      file
0  short  guysers_short.ignore.csv
1   long   guysers_long.ignore.csv

In [80]:
df2 = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/exercise.csv', index_col=0)
os.makedirs('exercise_data', exist_ok=True)
for (kind, diet, id), group in df2.groupby(['kind', 'diet', 'id']):
    dd = group.drop(labels=['kind', 'diet', 'id'], axis='columns')
    dd.to_csv(f'exercise_data/exercise_{id}_{kind}_{diet}.ignore.csv', index=False)

In [81]:
search = 'exercise_data/exercise_{id}_{kind}_{diet}.ignore.csv'
ids, kinds, diets = glob_wildcards(search)
files = [search.format(id=id, kind=kind, diet=diet) for id, kind, diet in zip(ids, kinds, diets)]
df = pd.DataFrame({'id': ids, 'kind': kinds, 'diet': diets, 'file': files })
df

    id     kind     diet                                               file
0   26  running   no fat  exercise_data/exercise_26_running_no fat.ignor...
1   11  walking  low fat  exercise_data/exercise_11_walking_low fat.igno...
2    4     rest  low fat   exercise_data/exercise_4_rest_low fat.ignore.csv
3   16  walking   no fat  exercise_data/exercise_16_walking_no fat.ignor...
4   18  walking   no fat  exercise_data/exercise_18_walking_no fat.ignor...
5    1     rest  low fat   exercise_data/exercise_1_rest_low fat.ignore.csv
6    6     rest   no fat    exercise_data/exercise_6_rest_no fat.ignore.csv
7   30  running   no fat  exercise_data/exercise_30_running_no fat.ignor...
8   27  running   no fat  exercise_data/exercise_27_running_no fat.ignor...
9    9     rest   no fat    exercise_data/exercise_9_rest_no fat.ignore.csv
10   2     rest  low fat   exercise_data/exercise_2_rest_low fat.ignore.csv
11  29  running   no fat  exercise_data/exercise_29_running_no fat.ignor...
12  21  running  low fat  exercise_data/exercise_21_running_low fat.igno...
13  20  walking   no fat  exercise_data/exercise_20_walking_no fat.ignor...
14   5     rest  low fat   exercise_data/exercise_5_rest_low fat.ignore.csv
15  15  walking  low fat  exercise_data/exercise_15_walking_low fat.igno...
16  22  running  low fat  exercise_data/exercise_22_running_low fat.igno...
17  25  running  low fat  exercise_data/exercise_25_running_low fat.igno...
18  28  running   no fat  exercise_data/exercise_28_running_no fat.ignor...
19  14  walking  low fat  exercise_data/exercise_14_walking_low fat.igno...
20  19  walking   no fat  exercise_data/exercise_19_walking_no fat.ignor...
21  23  running  low fat  exercise_data/exercise_23_running_low fat.igno...
22  10     rest   no fat   exercise_data/exercise_10_rest_no fat.ignore.csv
23   7     rest   no fat    exercise_data/exercise_7_rest_no fat.ignore.csv
24  12  walking  low fat  exercise_data/exercise_12_walking_low fat.igno...
25  13  walking  low fat  exercise_data/exercise_13_walking_low fat.igno...
26   3     rest  low fat   exercise_data/exercise_3_rest_low fat.ignore.csv
27  24  running  low fat  exercise_data/exercise_24_running_low fat.igno...
28  17  walking   no fat  exercise_data/exercise_17_walking_no fat.ignor...
29   8     rest   no fat    exercise_data/exercise_8_rest_no fat.ignore.csv

In [82]:
df[['kind', 'diet']].value_counts().unstack()

diet     low fat  no fat
kind
rest           5       5
running        5       5
walking        5       5

In [90]:
row

id                                                    8
kind                                               rest
diet                                             no fat
file    exercise_data/exercise_8_rest_no fat.ignore.csv
Name: 29, dtype: object

In [92]:
aa.assign(**row)

,pulse,time,id,kind,diet,file
0,92,1 min,8,rest,no fat,exercise_data/exercise_8_rest_no fat.ignore.csv
1,94,15 min,8,rest,no fat,exercise_data/exercise_8_rest_no fat.ignore.csv
2,95,30 min,8,rest,no fat,exercise_data/exercise_8_rest_no fat.ignore.csv

In [98]:
pd.concat([pd.read_csv(row.file).assign(**row) for _, row in df.iterrows()], ignore_index=True)

,pulse,time,id,kind,diet,file
0,95,1 min,26,running,no fat,exercise_data/exercise_26_running_no fat.ignor...
1,126,15 min,26,running,no fat,exercise_data/exercise_26_running_no fat.ignor...
2,143,30 min,26,running,no fat,exercise_data/exercise_26_running_no fat.ignor...
3,86,1 min,11,walking,low fat,exercise_data/exercise_11_walking_low fat.igno...
4,86,15 min,11,walking,low fat,exercise_data/exercise_11_walking_low fat.igno...
...,...,...,...,...,...,...
85,109,15 min,17,walking,no fat,exercise_data/exercise_17_walking_no fat.ignor...
86,90,30 min,17,walking,no fat,exercise_data/exercise_17_walking_no fat.ignor...
87,92,1 min,8,rest,no fat,exercise_data/exercise_8_rest_no fat.ignore.csv
88,94,15 min,8,rest,no fat,exercise_data/exercise_8_rest_no fat.ignore.csv
89,95,30 min,8,rest,no fat,exercise_data/exercise_8_rest_no fat.ignore.csv