In [ ]:
%matplotlib inline

In [ ]:
%pip install pandas seaborn

In [ ]:
import pandas as pd
import seaborn as sns

# Pandas and DataFrames

Often, we have tables of data--collections of named columns arranged in rows.  The **Pandas** package gives us a **DataFrame()** class that lets us index these columns the same way as with dicts, while still getting the benefit of Numpy arrays, meaning we can still write vectorized code.  

Let's start playing with the analysis now.  We'll examine Pandas in more depth in the coming days.

## Today's Dataset: Mental Rotation Psychology Experiment

![Mental Rotation Task Example](http://mercercognitivepsychology.pbworks.com/f/1353970952/mental-rotation-image.gif)

## Loading the Data

Please open the file “MentalRotation.csv” found at the url below (pd.read_csv()) and use it to answer the following questions about the results of the Mental Rotation psychology experiment. If you reach the end of the exercises, explore the dataset and DataFrames more and see what you can find about this experiment!

In [ ]:
url = "https://raw.githubusercontent.com/nickdelgrosso/CodeTeachingMaterials/main/datasets/MentalRotation.csv"

In [ ]:
df = pd.read_csv(url)
df.head()

   Subject  Trial  Angle  Matching Response  Time  Correct  Age Sex
0       49      1      0         0        n  3107        1   32   M
1       49      2    150         0        n  2930        1   32   M
2       49      3    150         1        b  1874        1   32   M
3       49      4    100         1        b  3793        1   32   M
4       49      5     50         1        b  2184        1   32   M

## Examining the Dataset

| With Slicing | With Method | With Function |
| :-- | :-- | :-- |
| `df[:5]` | `df.head()` |   |
| `df[-5:]` | `df.tail()` |  |
|  | `df.sample(5)` |   | 
|  | `df.info()` |   |
|  | `df.describe()` |   |
|  | `df.shape[0]` | `len(df)` |

Print the first 5 lines of the dataset:

In [ ]:
df[:5]

   Subject  Trial  Angle  Matching Response  Time  Correct  Age Sex
0       49      1      0         0        n  3107        1   32   M
1       49      2    150         0        n  2930        1   32   M
2       49      3    150         1        b  1874        1   32   M
3       49      4    100         1        b  3793        1   32   M
4       49      5     50         1        b  2184        1   32   M

Look at the last 5 lines of the dataset

In [ ]:
df[-5:]

      Subject  Trial  Angle  Matching Response  Time  Correct  Age Sex
5066       33     92    150         1        b  2095        1   20   F
5067       33     93    150         0        n  2125        1   20   F
5068       33     94     50         0        n  1226        1   20   F
5069       33     95    100         1        b  2783        1   20   F
5070       33     96      0         0        n  1017        1   20   F

Check 3 random lines in the dataset.

In [ ]:
df.sample(3)

      Subject  Trial  Angle  Matching Response  Time  Correct  Age Sex
907        48     55    150         1        n  2147        0   18   F
1996       21     20     50         1        n  2363        0   33   M
2088       53     19     50         0        n  4340        1   18   F

How Many Total Trials (rows) are in the study?

In [ ]:
len(df)

5071

## Calculating Values on Columns

| Method | Example |
| :-- | :-- |
| `.max()` | `df['Height'].max()` |
| `.min()` | `df['Weight'].min()` |
| `.mean()` | `df['Time'].mean()` |
| `.median()` | `df['Speed'].median()` |
| `.value_counts()` | `df['Kind'].value_counts()` |

What is the maximum number of trials that one subject performed?

In [ ]:
df['Trial'].max()

96

What was the median reaction time across all subjects?

In [ ]:
df['Time'].median()

2402.0

What was the average accuracy rate (i.e. proportion of correct trials) across all subjects?

In [ ]:
df['Correct'].mean()

0.9045553145336226

How many trials were shown at each Angle?

In [ ]:
df['Angle'].value_counts()

50     1280
0      1274
100    1261
150    1256
Name: Angle, dtype: int64

How many trials were answered correctly and incorrectly, for each angle? (hint: `df[['A', 'B']]`)

In [ ]:
df[['Angle', 'Correct']].value_counts()

Angle  Correct
0      1          1216
50     1          1198
100    1          1121
150    1          1052
       0           204
100    0           140
50     0            82
0      0            58
dtype: int64

### Making New Columns

| Syntax | 
| :-- |
| `df['NewCol'] = df['OldCol'] * 10` |

Make a "TimeSecs" column by converting the Time column to seconds by dividing it by 1000.

In [ ]:
df['TimeSecs'] = df['Time'] / 1000
df[:5]

   Subject  Trial  Angle  Matching Response  Time  Correct  Age Sex  TimeSecs
0       49      1      0         0        n  3107        1   32   M     3.107
1       49      2    150         0        n  2930        1   32   M     2.930
2       49      3    150         1        b  1874        1   32   M     1.874
3       49      4    100         1        b  3793        1   32   M     3.793
4       49      5     50         1        b  2184        1   32   M     2.184

Make an "IsCorrect" column by converting the "Correct" column to *bool* (True/False) values

In [ ]:
df['IsCorrect'] = df['Correct'] == 1
df[:5]

,Subject,Trial,Angle,Matching,Response,Time,Correct,Age,Sex,TimeSecs,IsCorrect
0,49,1,0,0,n,3107,1,32,M,3.107,True
1,49,2,150,0,n,2930,1,32,M,2.930,True
2,49,3,150,1,b,1874,1,32,M,1.874,True
3,49,4,100,1,b,3793,1,32,M,3.793,True
4,49,5,50,1,b,2184,1,32,M,2.184,True

### Logical Indexing

| Syntax |
| :-- |
| `df[df['Time'] > 3]` |

Example: How many trials used an angle of 150?

In [ ]:
len(df[df['Angle'] == 150])

1256

How many trials had response times longer than 3 seconds?

In [ ]:
len(df[df['TimeSecs'] > 3])

1723

What was the accuracy of subject 9?

In [ ]:
df[df['Subject'] == 9].Correct.mean()

0.9578947368421052

What was the average response time of subject 32?

In [ ]:
df[df['Subject'] == 32].Time.median()

2398.0

What was the average response time for subject 12 on trials with an Angle of 50? (Hint: `(A) & (B)`)

In [ ]:
df[(df['Subject'] == 12) & (df['Angle'] == 50)].Time.median()

1591.5

Was there an overall difference in response accuracy between matching and non-matching trials?

Is there a response time difference between matching and nonmatching
trials?

## Group By

| Syntax |
| :-- |
| `df.groupby('Age').Time.mean()` |

Example: What was the response accuracy for matching and non-matching trials?

In [ ]:
df.groupby('Matching').IsCorrect.mean()

Matching
0    0.909163
1    0.899961
Name: IsCorrect, dtype: float64

Example: What was the response accuracy for Each Angle?

In [ ]:
df.groupby('Angle', as_index=False).IsCorrect.mean()

   Angle  IsCorrect
0      0   0.954474
1     50   0.935937
2    100   0.888977
3    150   0.837580

What was the response accuracy for each Angle and Matching/Nonmatching value?

In [ ]:
df.groupby(['Angle', 'Matching']).IsCorrect.mean().unstack()

Matching         0         1
Angle
0         0.924647  0.984301
50        0.949843  0.922118
100       0.897764  0.880315
150       0.863708  0.811200

What was the average response time for each Angle and Matching/Nonmatching value?

In [ ]:
df.groupby(['Angle', 'Matching']).Time.mean().unstack()

Matching            0            1
Angle
0         2350.321821  1554.967033
50        2616.078370  2508.193146
100       3169.239617  3107.848819
150       3244.274168  3332.628800

What was the average response time for each Angle and Matching/Nonmatching value, for each subject?

In [ ]:
df.groupby(['Subject', 'Angle', 'Matching'], as_index=False).IsCorrect.mean()

     Subject  Angle  Matching  IsCorrect
0          1      0         0   1.000000
1          1      0         1   1.000000
2          1     50         0   0.916667
3          1     50         1   0.750000
4          1    100         0   0.916667
..       ...    ...       ...        ...
427       54     50         1   1.000000
428       54    100         0   0.833333
429       54    100         1   0.909091
430       54    150         0   0.818182
431       54    150         1   0.916667

[432 rows x 4 columns]

### Plotting with Pandas

| Syntax |
| :-- |
| `df['Column'].plot(kind='hist')` |
| `df['Column'].plot.hist()` |
| `df.hist('Column', by='Group')` |
| `df.plot(x='Age', y='Height', kind='scatter')` |
| `df.plot.scatter(x='Age', y='Height')` |

Plot the response time distribution as a histogram.

Plot the average response time for each stimulus category (matching and non-matching)

Is there a correlation between Angle of mental rotation and response time?  Visualize the relationship using a scatter plot

Is there a relationship between subject age and average response time?   Visualize the relationship using a box plot

Did participants get faster or slower as they did more trials? Visualize the relationship using a scatter plot

Plot the response time distribution, with a seperate subplot for each subject.

## Plotting with Seaborn

| Syntax |
| :-- |
| `sns.catplot(data=df, x='Col1', y='Col2', hue='Col3', kind='bar')` |
| `sns.lineplot(data=df, x='Col1', y='Col2', hue='Col3')` |
| `sns.lmplot(data=df, x='Col1', y='Col2', hue='Col3')` |

Is there a difference between average response time for matching and non-matching trials?

Is there a correlation between Angle of mental rotation and response time?  Visualize the relationship

Is there a difference in the relationship between Angle of mental rotation and response time, between stimulus categories?

Is there a difference in the relationship between Angle of mental rotation and response time for participants younger than 22 and participants older than 22, between stimulus categories?

Did participants get faster or slower as they did more trials? Visualize the relationship using a line plot