In [1]:
import pandas as pd

# Changes in Performance on  a Standardized Test in Estonia by school children between 1934 and 2006

Data from https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/23791

Paper can be found at http://openpsychologydata.metajnl.com/articles/10.5334/jopd.ab/

In [3]:
%%HTML
<iFrame src="6-44-2-PB.pdf" height=500 width=900></iFrame>

## Data

In [2]:
df = pd.read_csv('FE_1933_2006_data2.csv')
df.head()

,group,IDNR,sex,grade,age,a1.1,a1.2,a1.3,a1.4,a1.5,...,b5.40,b5.41,b5.42,b5.43,b5.44,b5.45,b5.46,b5.47,b5.48,b5.49
0,1,40,2,6,13,1,0,1,1,1,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
1,1,123,2,6,13,1,1,1,1,-9,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
2,1,628,1,5,16,1,1,1,1,1,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
3,1,810,2,4,16,-9,-9,1,1,-9,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
4,1,699,1,4,11,1,1,1,1,1,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9

## Variable Coding (from FE_1934_2006_variables_coding.txt)
  - group	"1934/36 = 1; 2006 = 2"	
  - IDNR	Identificator, independent for groups	
  - sex	"1 = male ; 2 = female"	
  - grade	grade	
  - age	"age in years; miss = -9"	
  - a1.1	"Missing = -9; wrong = 0; right =1 ."	Beginning of the subtest A1 (Arithmetical Reasoning)
  - a1.2	"Missing = -9; wrong = 0; right =1 ."	
  - ... and so on.