# Download Open Datasets from Statsmodels API

instructions found at http://statsmodels.sourceforge.net/stable/datasets/index.html

In [4]:
import statsmodels.api as sm
import pandas as pd

In [17]:
print([el for el in dir(sm.datasets) if '_' not in el[0]])

['anes96', 'cancer', 'ccard', 'clear_data_home', 'co2', 'committee', 'copper', 'cpunish', 'elnino', 'engel', 'fair', 'get_data_home', 'get_rdataset', 'grunfeld', 'heart', 'longley', 'macrodata', 'modechoice', 'nile', 'randhie', 'scotland', 'spector', 'stackloss', 'star98', 'statecrime', 'strikes', 'sunspots', 'utils', 'webuse']

In [14]:
econ = sm.datasets.longley.load_pandas().data
econ.head()

    TOTEMP  GNPDEFL       GNP   UNEMP   ARMED       POP    YEAR
0  60323.0     83.0  234289.0  2356.0  1590.0  107608.0  1947.0
1  61122.0     88.5  259426.0  2325.0  1456.0  108632.0  1948.0
2  60171.0     88.2  258054.0  3682.0  1616.0  109773.0  1949.0
3  61187.0     89.5  284599.0  3351.0  1650.0  110929.0  1950.0
4  63221.0     96.2  328975.0  2099.0  3099.0  112075.0  1951.0

In [10]:
type(econ)

statsmodels.datasets.utils.Dataset

# Travel Mode Choices in 1987 between Sydney, Canberra and Melbourn

### Description

The data, collected as part of a 1987 intercity mode choice study, are a sub-sample of 210 non-business trips between Sydney, Canberra and Melbourne in which the traveler chooses a mode from four alternatives (plane, car, bus and train). The sample, 840 observations, is choice based with over-sampling of the less popular modes (plane, train and bus) and under-sampling of the more popular mode, car. The level of service data was derived from highway and transport networks in Sydney, Melbourne, non-metropolitan N.S.W. and Victoria, including the Australian Capital Territory.

### Notes

Number of observations: 840 Observations On 4 Modes for 210 Individuals.
Number of variables: 8
Variable name definitions:

  - individual = 1 to 210
  - mode =
    - 1 - air
    - 2 - train
    - 3 - bus
    - 4 - car
  - choice =
    - 0 - no
    - 1 - yes
  - ttme = terminal waiting time for plane, train and bus (minutes); 0 for car.
  - invc = in vehicle cost for all stages (dollars).
  - invt = travel time (in-vehicle time) for all stages (minutes).
  - gc = generalized cost measure:invc+(invt*value of travel time savings) (dollars).
  - hinc = household income (1000s of dollars).
  - psize = traveling group size in mode chosen (number).
    
## Source

Greene, W.H. and D. Hensher (1997) Multinomial logit and discrete choice models in Greene, W. H. (1997) LIMDEP version 7.0 userâ€™s manual revised, Plainview, New York econometric software, Inc. Download from on-line complements to Greene, W.H. (2011) Econometric Analysis, Prentice Hall, 7th Edition (data table F18-2) http://people.stern.nyu.edu/wgreene/Text/Edition7/TableF18-2.csv

In [23]:
travel = sm.datasets.modechoice.load_pandas().data
print(len(travel))
travel.head(10)

840

   individual  mode  choice  ttme   invc   invt     gc  hinc  psize
0         1.0   1.0     0.0  69.0   59.0  100.0   70.0  35.0    1.0
1         1.0   2.0     0.0  34.0   31.0  372.0   71.0  35.0    1.0
2         1.0   3.0     0.0  35.0   25.0  417.0   70.0  35.0    1.0
3         1.0   4.0     1.0   0.0   10.0  180.0   30.0  35.0    1.0
4         2.0   1.0     0.0  64.0   58.0   68.0   68.0  30.0    2.0
5         2.0   2.0     0.0  44.0   31.0  354.0   84.0  30.0    2.0
6         2.0   3.0     0.0  53.0   25.0  399.0   85.0  30.0    2.0
7         2.0   4.0     1.0   0.0   11.0  255.0   50.0  30.0    2.0
8         3.0   1.0     0.0  69.0  115.0  125.0  129.0  40.0    1.0
9         3.0   2.0     0.0  34.0   98.0  892.0  195.0  40.0    1.0

# Extramarital Affairs Dataset

In [25]:
%%HTML
<iFrame src="http://statsmodels.sourceforge.net/stable/datasets/generated/fair.html" width=900 height=400>
</iFrame>

In [29]:
affairs = sm.datasets.fair.load_pandas().data
print(len(affairs))
affairs.head()

6366

,rate_marriage,age,yrs_married,children,religious,educ,occupation,occupation_husb,affairs
0,3.0,32.0,9.0,3.0,3.0,17.0,2.0,5.0,0.111111
1,3.0,27.0,13.0,3.0,1.0,14.0,3.0,4.0,3.230769
2,4.0,22.0,2.5,0.0,1.0,16.0,3.0,5.0,1.400000
3,4.0,37.0,16.5,4.0,3.0,16.0,5.0,5.0,0.727273
4,5.0,27.0,9.0,1.0,1.0,14.0,3.0,4.0,4.666666

"Extramarital affair data used to explain the allocation\nof an individual's time among work, time spent with a spouse, and time\nspent with a paramour. The data is used as an example of regression\nwith censored data."

# Intelligence Testing Comparison in Estonia

Paper: From http://openpsychologydata.metajnl.com/articles/10.5334/jopd.ab/

DataSet: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/23791

# Scientist Questionnaire

http://arc.irss.unc.edu/dvn/faces/study/StudyPage.xhtml?globalId=hdl:1902.29/H-861018

In [ ]:
big_df = pd.DataFrame()
for file in files:
    df = read_data()
    big_df = big_df.append(df)

In [16]:
pd.read_csv?

# Mortality Rates In Germany (or any country, really)

Data available at www.lifetable.de at http://www.lifetable.de/cgi-bin/Country.plx?Country=Germany

(Data is broken down into year spans, but into nice CSV files.)

In [5]:
mortality1999 = pd.read_csv('http://www.lifetable.de/data/MPIDR/DEU000019992001CU1.txt')
mortality1999.head()

,Country,Year1,Year2,TypeLT,Sex,Age,AgeInt,m(x),q(x),l(x)*,d(x),L(x)*,T(x),e(x)
0,DEU0000,1999,2001,1,1,0,1,0.00489,0.00487,100000,487,99593,7510995,75.11
1,DEU0000,1999,2001,1,1,1,1,0.00044,0.00044,99513,44,99491,7411402,74.48
2,DEU0000,1999,2001,1,1,2,1,0.00028,0.00028,99469,28,99455,7311911,73.51
3,DEU0000,1999,2001,1,1,3,1,0.00023,0.00023,99441,23,99430,7212456,72.53
4,DEU0000,1999,2001,1,1,4,1,0.00017,0.00017,99418,16,99410,7113026,71.55

### Explanation of columns

In [6]:
%%HTML
<iFrame src="http://www.lifetable.de/expl.htm" width=900 height=400></iFrame>

# Other Resources

http://guides.library.ucla.edu/c.php?g=180221&p=1188487

  - **Neuroscience Information Framework**: https://neuinfo.org/